
@{
    ViewBag.Title = "Index";
}

<h2>Passengers</h2>
<div>
    <form>
        <fieldset>
            <input type="radio" class="rButtons" id="stars" value="stars" name="search" /><label>min stars</label><br />
            <input type="radio" class="rButtons" id="reservations" value="reservations" name="search" /><label>min reservations</label><br />
            <input type="radio" class="rButtons" id="name" value="name" name="search" /><label>name</label><br />
            <input type="text" id="input" name="input" /><br /><br />
            <input type="submit" value="Update" , id="sendSearch" class="btn btn-default" /><br />
        </fieldset>
    </form>
</div>

<table class="table" id="resultsTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>UserName</th>
            <th>Stars</th>
            <th>IsAdmin</th>
            <th>TotalDistance</th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


@section Scripts{
    <script type="text/javascript" src="~/Content/js/PassengerSearch.js"></script>
}


