@model SpaceWay.Models.Passenger

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@using (Html.BeginForm())
{
        <hr />
            <label>Username:</label><br />
            <input type="text" name="UN" /><br />
            <label>Password:</label><br />
            <input type="password" name="PW" /><br />
            <input type="submit" value="Login" class="btn btn-default" />
   
}

