@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon"
          type="image/png"
          href="~/Content/Images/icon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SpaceWay - Plan your trip to space</title>

    <!--core-->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--fonts-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!--style-->
    <link href="~/Content/css/grayscale.css" rel="stylesheet">

</head>

<body id="page-top">
    <div id="fb-root"></div>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" href="~/Views" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    @if (Session["Username"] == null)
                    {
                        Html.RenderPartial("NotLoggedInNavBar");
                    }
                    else
                    {
                        Html.RenderPartial("LoggedInNavBar");
                    }
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">SpaceWay</h1>
                <aside>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Leave Earth with ease.</h2>
                </aside>

                @if (Session["Username"] == null)
                {
                    //if not logged in
                    <a href='@Url.Action("Create", "Passengers")' class="btn btn-primary js-scroll-trigger">Book A Flight</a>
                }

                else
                {
                    //if logged in
                    <a href='@Url.Action("LearnFromStatistics", "Flights")' class="btn btn-primary js-scroll-trigger">Book A Flight</a>
                }

            </div>
        </div>
    </header>


    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 400px;
            width: 40%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <section class="contact-section bg-black">

        <div class="container">
                  <div>
                      <div class="row">
                          <div id="mapCont" class="col-md-12 col-lg-12 align-items-start mx-auto text-center">
                                <div id="map"></div>
                          </div>
                      </div><br />
                      <div class="row ">
                          <div class="col-md-12 col-lg-12 align-items-start mx-auto text-center">
                                <button id="mapButton" class="btn text-white-50">Our Stations</button>
                          </div>
                      </div>
                  </div>
        </div>
    </section>



    <section></section>

    <!-- Signup Section -->
    <section class="contact-section bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 align-items-start mx-auto text-center">
                    <video id="video" width="700" height="400" src="~/Content/Images/video.mp4" title="Explore the amazing space" controls />
                </div>
            </div><br />
            <div class="row">
                <div class="col-md-12 col-lg-12 align-items-start mx-auto text-center">
                    <button id="videoButton" class="btn text-white-50">Amazing Space</button>
                </div>
            </div>
             
        </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
        <div class="container">

            <div class="row">

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">Lab 107, Building IG, Colman, Rishon Le'zion IL</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">
                                <a href="#">hello@spaceway.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Phone</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">+972 (555) 902-8832</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="social d-flex justify-content-center">
                <a href="#" class="mx-2">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="mx-2">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="mx-2">
                    <i class="fab fa-github"></i>
                </a>
            </div>

        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
        <div class="container">
            <div class="fb-like" data-href="https://www.facebook.com/Space-Way-102264297798615"
                 data-width="" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
            <br /><br /><br />
            Copyright &copy; Royi, Jonathan, Michal, Uri 2019
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Content/js/grayscale.min.js"></script>

    <!--Google map -->
    <script src="~/Content/js/googleMap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ09chsMqk_t9GFE7Qua1vzSW2eNlFFkE&callback=initMap"
            async defer></script>

    <!--Facebook-->
    <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v4.0&appId=355721755360451&autoLogAppEvents=1"></script>

    <script>
        $("#mapButton").click(function () {
            $("#mapCont").toggle('slow');
        });
        $("#videoButton").click(function () {
            $("#video").toggle('slow');
        });
    </script>

</body>

</html>




