@{
    ViewBag.Title = "Nasa";
}

<div class="nasa">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <h3 class="text-white mb-4">NASA Astronomy Picture Of The Day</h3>
            <h3 class="text-white mb-4" id="title"></h3>
            <p id="explanation"></p><br />
        </dt>
    </dl>
</div>
<div class="nasa">
    <h3>Date: <span id="date"></span></h3><br />
    <img id="img" src="" alt="NASA Picture Of The Day" height="130%" width="130%"><br />
</div>


<!-- NASA API -->
<script src="~/Content/js/nasa.js"></script>
