<li>@Html.ActionLink("Search", "Search", "Passengers")</li>
<li>@Html.ActionLink("Profile", "PassengerProfile", "Passengers")</li>
<li>@Html.ActionLink("Logout", "Logout", "Passengers")</li>

@{
    var welcomeText = "";
    if (Session["Username"] != null)
    {
        welcomeText = "Welcome " + Session["Username"];
    }

}
<li><font color="white">@welcomeText</font></li>